.rp-top-image {
    background-image: url('../images/rp-top-photo-small.jpg');
}
.rp-top-image-sizing {
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center bottom;
}
.rp-top-logo {
    width: 300px;
    padding-top: 430px;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.rp-home-welcome {
    margin-top: 1.5rem;
    padding-right: 20px;
}

.rp-h1-header {
    font-size: 18px;
    font-weight: bold;
}

.rp-text {
    font-size: 16px;
}
.rp-h6-bold {
    font-weight: bold !important;
}

.rp-home-contact-border {
    border-top: 1px solid darkgrey;
}
.rp-home-contact-body {
    padding-left: 0px;
    padding-bottom: 24px;
    margin-top: 24px;
}
.rp-home-contact-text {
    font-size: 14px;
}
.rp-home-contact-icon {
    width: 22px;
}

#team-psychologen img {
    margin-top: -50px;
}
#team-psychologen .card {
    background-color: #fcfcfc;
}
#team-psychologen .card:hover {
    background: #7a6c66;
    color: #fff;
}
#team-psychologen .card:hover a {
    color: #d1cecc;
}
#leesMinderMarianne > a, #leesMeerMarianne > a,
#leesMinderJolien > a, #leesMeerJolien > a,
#leesMinderAnnet > a, #leesMeerAnnet > a {
    color: #4c4a49;
    font-weight: bold;
}

.rp-1np-logo {
    float: left;
    width: 100px;
    margin-right: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
    box-shadow: 4px 4px 2px #888888;
    border: 1px solid darkgrey;
}

.rp-contact-map {
    width: 350px;
    height: 262px;
}

.footer {
    height: 60px;
    background-color: #f7f5ef;
    padding-top: 20px;
    font-size: 14px;
    font-weight: bold;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .rp-top-image {
        background-image: url('../images/rp-top-photo.jpg');
    }
    .rp-top-logo {
        width: 700px;
        padding-top: 380px;
    }

    .rp-home-welcome {
        margin-top: 1.5rem;
        padding-right: 3rem;
    }

    .rp-home-contact-border {
        border-left: 1px solid darkgrey;
        border-top: none;

    }
    .rp-home-contact-body {
        padding-left: 16px;
        margin-top: 32px;
    }

    .rp-contact-map {
        width: 600px;
        height: 400px;
    }
}

/* Navigation */
.navbar {
    background-color: #f7f5ef;
    box-shadow: 2px 2px 5px #777777;
    opacity: 0.9;
}
.nav-item {
    font-size: 1rem;
    padding-left: 1rem;
}
.nav-link {
    color: #1f2530 !important;
}
.nav-item > a:hover {
    color: #6a7589 !important;
}
.navbar-nav > .active > a {
    color: #6a7589 !important;
}
.navbar-title {
    padding-left: 6px;
    font-size: 16px;
}
