
/* Default: mobile devices < 768px */

/* Top header */
.rp-top {
    position: relative;
    height: 200px;
}
.rp-top-image {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/top-photo.jpg");
}
.rp-top-logo {
    width: 300px;
    padding-top: 130px;
}


/* content style */
.rp-line {
    border-top: 1px solid grey;
    margin-bottom: 15px;
}
.rp-text {
    font-size: 16px;
}
.rp-text-h1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.rp-text-h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.rp-text-h2-next {
    font-size: 18px;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 10px;
}

/* team */
.rp-text-h1-team {
    font-size: 18px;
    font-weight: bold;
}
.rp-text-h2-team {
    font-size: 16px;
    margin-bottom: 12px;
 }
.rp-team-photo {
    float: left;
    margin-right: 15px;
    margin-top: 3px;
    margin-bottom: 1px;
    box-shadow: 4px 4px 2px #888888;
    width: 150px;
}
.rp-linkedin {
    height: 18px;
    padding-left: 2px;
    padding-bottom: 1px;
}
.rp-1np-logo {
    float: left;
    width: 100px;
    margin-right: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
    box-shadow: 4px 4px 2px #888888;
    border: 1px solid darkgrey;
}
.rp-registratie-logo {
    float: left;
    width: 120px;
    margin-right: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
    box-shadow: 4px 4px 2px #888888;
}
.rp-link-logo {
    float: left;
    width: 100px;
    margin-right: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
    box-shadow: 4px 4px 2px #888888;
    border: 1px solid darkgrey;
 }



/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .rp-top {
        position: relative;
        height: 300px;
    }
    .rp-top-image {
        background-image: url("../images/top-photo.jpg");
    }
    .rp-top-logo {
        width: 80%;
        padding-top: 180px;
        padding-left: 10px;
    }
    .rp-text-align {
        padding-left: 15px;
    }
    .rp-team-photo {
        margin-left: 14px;
    }
    .rp-1np-logo {
        margin-left: 14px;
    }
    .rp-line-align {
        margin-left: 15px;
    }
    .rp-registratie-logo {
        margin-left: 14px;
    }
    .rp-link-logo {
        margin-left: 14px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .rp-top-logo {
        width: 65%;
        padding-top: 170px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .rp-top-logo {
        width: 60%;
        padding-top: 160px;
    }
}




/* navbar */
.navbar-default {
    background-color: white;
    border-color: white;
}
/* brand */
.navbar-default .navbar-brand {
    color: #F0810F;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}
/* links */
.navbar-default .navbar-nav > li > a {
    color: #2f2f2f;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #959595;
}
/* active link */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #959595;
    background-color: white;
}
/* toggle */
.navbar-default .navbar-toggle {
    border-color: white;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #2f2f2f;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}

/* glyphicon */
.glyphicon {
    color: #2f2f2f;
}
.navbar-default .glyphicon:hover,
.navbar-default .glyphicon:focus {
    color: #959595;
}